.cont {
    display: flex;
    align-items: center;
    /* Alinea verticalmente en el centro */
    justify-content: center;
    /* Alinea horizontalmente en el centro (opcional) */
    /* Hace que el contenedor ocupe el 100% de la altura de la ventana */
    border: 1px solid #ccc;
    height: 100px;
    /* Para visualización */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #191858;
    /* Color de fondo del header */
    height: 100px;
}

.left {
    margin-right: auto;
    width: 30%;
    /* Empuja los otros divs hacia la derecha */
}

.center {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Agrega este estilo para centrar horizontalmente */
    height: 100%;
    /* Agrega un valor de altura para el contenedor */
}

.center img {
    max-width: 50%;
    max-height: auto;
    object-fit: contain;
    /* o "cover" según tus necesidades */
}

.right {
    margin-left: auto;
    /* Solo si quieres separar el centro del derecho */
    width: 30%;
}