.card {
    border: none;
    /* Elimina el borde */
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    background-color: #FBB339;
}

.row {
    justify-content: center;
    min-height: 600px;
    align-items: center;
}

.carousel {
    text-align: center;
}