.product-list {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.row,
.card {
    justify-content: center;
    text-align: center;
    align-items: center;
    border: none;
    margin-bottom: 10px;
}

.col {
    justify-content: center;
    text-align: center;
    align-items: center;
}