.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
    padding-top: 0;
}

.app-cart {
    z-index: 5;
}

.navbar-component {
    width: 100%;
}

footer {
    margin-top: 20px;
}