.cart {
    position: fixed;
    top: 0;
    right: -50%;
    /* Oculto fuera de la pantalla inicialmente */
    width: 50%;
    height: 100%;
    background-color: #f8f8f8;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

@media screen and (max-width: 768px) {
    .cart {
        width: 100%;
        right: -100%;
    }
}

.cart.open {
    right: 0;
    /* Mueve el carrito a la vista */
}