.cart {
    z-index: 100;
    /* Ajusta este valor según sea necesario para asegurarte de que el carrito esté por debajo del navbar */
}

.cart-menu {
    position: absolute;
    top: calc(100% + 10px);
    /* Ajusta el margen superior según sea necesario */
    left: 0;
}